@import './../../../sass/variables';
@import './../../../sass/interface';
@import './../../../sass/mixins';
.sign-up {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid transparentize($color: white, $amount: 0.7);
        line-height: 0.1em;
        color: transparentize($color: white, $amount: 0.7);
        span {
            background: $ivory-black;
            padding: 0 10px;
        }
    }
    form {
        div {
            width: 100%;
            text-align: left;
        }
        input {
            background: transparentize($color: $sky-blue, $amount: 0.9);
            border: transparentize($color: $sky-blue, $amount: 0.8) solid 2px;
            color: white;
        }
        button {
            background: $sky-blue;
            color: $ivory-black;
        }
    }
}