<div class="overlay container-fluid" *ngIf="isFormShown">
    <form class="timesheet-form" [formGroup]="timesheetForm" *ngIf="!isLoading">
        <i class="fas fa-times-circle" (click)="closeForm()"></i>
        <h2 class="mb-3">Create Timesheet</h2>
        <div class="form-group mb-3">
            <input formControlName="title" type="text" class="form-input" required>
            <label class="form-input-placeholder" for="title">Title</label>
            <div *ngIf="timesheetForm.controls.title.invalid && (timesheetForm.controls.title.dirty || timesheetForm.controls.title.touched)" class="form-alert mt-1">
                <div *ngIf="timesheetForm.controls.title.errors.required">
                    Title is required.
                </div>
                <div *ngIf="timesheetForm.controls.title.errors.minlength">
                    Title must be at least 6 characters long.
                </div>
            </div>
        </div>
        <button (click)="createTimesheet()">Create</button>
    </form>
    <div class="lds-ripple" *ngIf="isLoading">
        <div></div>
        <div></div>
    </div>
</div>