<div class="overlay container-fluid" *ngIf="isFormShown">
    <form class="timecard-form col-4" [formGroup]="timecardForm" *ngIf="!isLoading" (ngSubmit)="createTimecard()">
        <i class="fas fa-times-circle" (click)="closeForm()"></i>
        <h2 class="mb-5">Create Timecard</h2>
        <div class="mb-3">
            <div class="form-group">
                <input formControlName="description" type="text" class="form-input" required>
                <label class="form-input-placeholder" for="name">Description*</label>
                <div *ngIf="timecardForm.controls.description.invalid && (timecardForm.controls.description.dirty || timecardForm.controls.description.touched)" class="form-alert mt-1">
                    <div *ngIf="timecardForm.controls.description.errors.required">
                        Description is required.
                    </div>
                    <div *ngIf="timecardForm.controls.description.errors.minlength">
                        Description must be at least 6 characters long.
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <input formControlName="startDateTime" type="datetime-local" class="form-input-datetime">
                <label class="form-input-placeholder focus" for="startDateTime">Start Date Time</label>
            </div>
        </div>
        <div class="mb-3">
            <div class="form-group">
                <input formControlName="endDateTime" type="datetime-local" class="form-input-datetime">
                <label class="form-input-placeholder focus" for="endDateTime">End Date Time</label>
            </div>
        </div>
        <button (click)="createTimecard()" [disabled]="timecardForm.invalid">Create</button>
    </form>
    <div class="lds-ripple" *ngIf="isLoading">
        <div></div>
        <div></div>
    </div>
</div>