@import './../../../sass/variables';
@import './../../../sass/interface';
@import './../../../sass/mixins';
.timesheet-card {
    width: 100%;
    height: 20vh;
    background: $prussian-blue;
    box-shadow: 2px 2px 5px 0px #333;
    color: white;
    border-radius: 5px;
    padding: 0;
    transition: 0.3s;
    cursor: pointer;
    h3.title {
        width: 100%;
        background: white;
        color: $prussian-blue;
    }
    .author,
    .date {
        i {
            font-size: 1.4rem;
        }
    }
    &:hover {
        opacity: 0.8;
    }
}