@import './variables';
@import './mixins';
.container-fluid {
    background: $ivory-black;
}

form {
    @include column-center;
    input {
        width: 100%;
        padding: 0.5rem 0 0.5rem 1rem;
        background: transparentize($color: white, $amount: 0.9);
        border: transparentize($color: white, $amount: 0.8) solid 2px;
        color: white;
    }
    button {
        width: 100%;
        padding: 0.5rem 0;
        border: transparent solid 2px;
        font-weight: bold;
        transition: all 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }
}